@import "node_modules/showcar-ui/src/scss/mixins/inputs";
@import "node_modules/showcar-ui/src/scss/inputs";
@import "node_modules/showcar-ui/src/scss/variables";

as24-autocomplete {
  position: relative;
}

.as24-autocomplete {

  &__input {
    box-sizing: border-box;
    
    &:focus:enabled {
      box-shadow: none;
    }

    &:focus:enabled + ul {
      border: 1px solid $blue-80;
      border-top-width: 0;
    }

    @include input();
    @extend %customInputStyles;
  }

  &__list {
    box-sizing: border-box;
    background: $white;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: solid 1px $black-60;
    border-top-width: 0px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 12rem;
    z-index: 1;
    width: 100%;

    &--visible {
      display: block;
      margin-top: -3px;
    }

    &--empty {
      color: red;
    }

  }

  &__list-item {
    padding: $XS $M;

    &:hover,
    &--selected {
      background: $black-20;
    }

  }

}
