@import "node_modules/showcar-ui/src/scss/mixins/inputs";
@import "node_modules/showcar-ui/src/scss/inputs";
@import "node_modules/showcar-ui/src/scss/variables";

as24-autocomplete {
    position: relative;
    display: block;
}

.as24-autocomplete {

    &--disabled {
        cursor: not-allowed;
        .as24-autocomplete {
            &__icon-wrapper {
                cursor: not-allowed;
            }
        }
        svg {
            path {
                fill: $black-40;
            }
        }
    }

    &--active {
        .as24-autocomplete {
            &__icon-wrapper {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &--user-input {
        .as24-autocomplete {
            &__icon-dropdown {
                display: none;
            }
            &__icon-cross {
                display: block;
            }
        }
    }

    &__input {
        box-sizing: border-box;

        &:focus:enabled {
            box-shadow: none;
        }

        &:focus:enabled + ul {
            border: 1px solid $blue-80;
            border-top-width: 0;
        }

        @include input();
        @extend %customInputStyles;
    }

    &__hidden {
        visibility: hidden;
        position: absolute;
        z-index: -1;
    }

    &__input-wrapper {
        position: relative;
    }

    &__icon-wrapper {
        position: absolute;
        width: 2rem;
        height: 2rem;
        right: 4px;
        top: 50%;
        margin-top: 0;
        cursor: pointer;
        transform: translateY(-50%);
    }

    &__icon-dropdown,
    &__icon-cross {
        position: absolute;
        top: 50%;
        height: 16px;
        width: 16px;
        left: 50%;
        transform: translate(-50%, -50%);

        &__icon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before{
            content: '';
            z-index: 0;
            position: absolute;
            top: -11px;
            left: -16px;
            width: 48px;
            height: 38px;
        }

    }

    &__icon-dropdown {
        display: block;
    }

    &__icon-cross {
        display: none;
    }

    &__list {
        box-sizing: border-box;
        background: $white;
        display: none;
        list-style: none;
        margin: -3px 0 0 0;
        padding: 0;
        border: solid 1px $black-60;
        border-top-width: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        max-height: 12rem;
        z-index: 1;
        width: 100%;
        position: absolute;

        &--visible {
            display: block;
        }

    }

    &__list-item {
        padding: $XS $M;
        user-select: none;

        &--preselected {
            background: $black-30;
        }

        &--selected {
            background: $black-30;
        }

        &--empty {
            color: $color-error;
            background: $white;
        }

    }

}
